{% extends 'base_bootstrap.html' %}
{% block title %}
    Index
{% endblock %}

{% block content %}
{#    <img src="{% static 'gan.jpg' %}" alt="My img">#}
{#    <img src="/app_static/gan3.jpg" alt="app_static">#}
{#    <img src="/static/gan3.jpg" alt="static">#}
{#    <img src="/static/gan5.jpg" alt="ll">#}
    <ul>
    {% for column in home_display_columns %}
        <li>
            <a href="{{ column.get_absolute_url }}">{{ column.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}